<div id="cti">
    <div class="wrapper">
        <ul>
            <li><span class="line"></span> <span class="icon"> <img src="http://uploadjava.bizpower.com/image/8b/1e/8b1e841de37c5621e2fdab72d414d999.png@60w_60h"> </span> <span class="name">
      	七天保障
      	</span> </li>
            <li><span class="line"></span> <span class="icon"> <img src="http://uploadjava.bizpower.com/image/92/70/9270953720669dcd666b0d2532ff7603.png@60w_60h"> </span> <span class="name">
      	极速物流
      	</span> </li>
            <li><span class="line"></span> <span class="icon"> <img src="http://uploadjava.bizpower.com/image/53/e3/53e38bce224f08d9f21a5d113b2e2ccb.png@60w_60h"> </span> <span class="name">
      	破损补寄
      	</span> </li>
            <li><span class="line"></span> <span class="icon"> <img src="http://uploadjava.bizpower.com/image/24/3f/243fee208175a77309b6bebfb567e82b.png@60w_60h"> </span> <span class="name">
      	品质承诺
      	</span> </li>
        </ul>
    </div>
</div>