<div id="footer"><!-- Copyright: Bizpower多用户商城系统 -->
	<div class="wrapper">
		<p><a href="${base}">首页</a>
			| <a target="_blank" href="" target="_blank">招聘英才</a>
			| <a target="_blank" href="" target="_blank">合作及洽谈</a>
			| <a target="_blank" href="" target="_blank">联系我们</a>
			| <a target="_blank" href="" target="_blank">关于我们</a>
		</p>
		Copyright © 2019 ${setting.siteName},All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;${setting.certtext}<br />
		Powered by <span style="font-weight: 600;"><font style="color:orange;">Biz</font><font style="color:blue;">power</font></span><br />

	</div>
</div>