<header class="public-head-layout wrapper">
	<h1 class="site-logo"><a href="http://java.bizpower.com/web/"><img src="http://uploadjava.bizpower.com/image/86/69/8669e1c56d027db0271e1a91a0596ef9.png" alt=""/></a></h1>
	<div class="head-search-layout">
		<div class="head-search-tab" id="searchTab"> <span><a href="javascript:;" class="selected" data-sign="goods">商品</a></span> <span><a href="javascript:;" class="" data-sign="store">店铺</a></span> <span><a href="javascript:;" class="" data-sign="distribution">推广</a></span> <span><a href="javascript:;" class="" data-sign="purchase">求购</a></span> </div>
		<div class="head-search-bar" id="head-search-bar">
			<form action="http://java.bizpower.com/web/search" method="get" class="search-form" id="headerSearchForm">
				<input name="keyword" id="keyword" type="text" class="input-text" value="" maxlength="60" placeholder=" 请输入您要搜索的商品关键字"  autocomplete="off" />
				<input type="submit" id="buttonSearch" value="搜 索" class="input-submit">
			</form>
			<!-- 搜索提示div 开始 -->
			<div class="search-tip search-tip-fixed" id="search-tip">
				<div class="search-history">
					<div class="title">历史纪录<a href="javascript:void(0);" id="search-his-del">清除</a></div>
					<ul id="search-his-list">
					</ul>
				</div>
				<div class="search-hot">
					<div class="title">热门搜索...</div>
					<ul>
						<li><a data-hot-value="香水" hotSearch href="http://java.bizpower.com/web/search?&keyword=%E9%A6%99%E6%B0%B4">浪漫天使女士香水</a></li>
						<li><a data-hot-value="汽车" hotSearch href="http://java.bizpower.com/web/search?&keyword=%E6%B1%BD%E8%BD%A6">汽车用品打折季</a></li>
						<li><a data-hot-value="耳机" hotSearch href="http://java.bizpower.com/web/search?&keyword=%E8%80%B3%E6%9C%BA">无线游戏耳机</a></li>
						<li><a data-hot-value="女装" hotSearch href="http://java.bizpower.com/web/search?&keyword=%E5%A5%B3%E8%A3%85">浪漫夏季 简约百搭</a></li>
						<li><a data-hot-value="耐克" hotSearch href="http://java.bizpower.com/web/search?&keyword=%E8%80%90%E5%85%8B">春季踏青郊游必备</a></li>
					</ul>
				</div>
			</div>
			<!-- 搜索提示div 结束 -->
		</div>
		<div class="keyword">热门关键字：
			<ul>
				<li><a target="_blank" href="http://java.bizpower.com/web/search?&keyword=%E8%8B%B9%E6%9E%9C">苹果</a></li>
				<li><a target="_blank" href="http://java.bizpower.com/web/search?&keyword=%E5%86%B0%E7%AE%B1">冰箱</a></li>
				<li><a target="_blank" href="http://java.bizpower.com/web/search?&keyword=%E7%94%B7%E9%9E%8B">男鞋</a></li>
				<li><a target="_blank" href="http://java.bizpower.com/web/search?&keyword=%E8%80%B3%E6%9C%BA">耳机</a></li>
				<li><a target="_blank" href="http://java.bizpower.com/web/search?&keyword=%E5%A5%B6%E5%98%B4">奶嘴</a></li>
				<li><a target="_blank" href="http://java.bizpower.com/web/search?&keyword=%E6%B0%B4%E6%9E%9C">水果</a></li>
			</ul>
		</div>
	</div>
	<!-- 头部购物车_Star -->
	<div id="topMyCart" class="my-cart">
		<div class="my-cart-tit"><i class="my-cart-ico"></i><i data-red-point style="display: none;" class="my-cart-count"></i><a target="_blank" href="http://java.bizpower.com/web/cart/list" title="购物车">我的购物车</a></div>
		<div class="my-cart-con">
			<div class="spacer"></div>
			<div class="sub-title" >
				<h4>最新加入的商品</h4 >
			</div >
			<div class="incart-goods-box">
				<div class="incart-goods" data-cart-goods-list> <img class="loading" src="http://staticjava.bizpower.com/img//cart_loading.gif"  alt=""/> </div >
			</div >
			<div class="checkout" data-goods-price></div>
		</div >
	</div>
	<!-- 头部购物车_End -->
</header>